/test/
/model_weights/work_yolo_weight_detect.pt
/model_weights/work_yolo_weight_recognize.pt
/model_weights/work_yolo_sts_detect.pt
/model_weights/work_yolo_sts_rotate.pt
/model_weights/work_yolo_sts_recognize.pt
/.idea